<fieldset>
  <label for="{{ name }}">
    <input type="hidden" name="{{ name }}" value="off">
    <input type="checkbox" class="checkbox" id="{{ name }}" name="{{ name }}" value="on" {{ checked|raw }}>
    {{ desc }}
  </label>
</fieldset>
