<input type="text" class="{{ size }}-text js-dits-file" id="{{ name }}" name="{{ name }}" value="{{ value }}"/>
<input type="button" class="button js-dits-file-input" value="{{ button }}"/>

<p class="description">{{ desc }}</p>
