<input
  type="number"
  class="{{ size }}-text"
  id="{{ name }}"
  name="{{ name }}"
  placeholder="{{ placeholder }}"
  value="{{ value }}"
  min="{{ min }}"
  max="{{ max }}"
  step="{{ step }}"
/>

<p class="description">{{ desc }}</p>
